<div class="container-fluid mt-2 mb-2 mx-2">
  <div class="row">
    <div class="col-9">
      <h1 class="text-center mt-5">
        10 dicas financeiras para jovens que são verdadeiras lições de vida
      </h1>
      <div class="text-center">
        <img src="../../../../assets/images/artigo01.png" alt="" />
      </div>
      <p class="px-5 mt-5">
        O tema educação financeira ainda é muito incipiente no Brasil, sobretudo
        entre os mais jovens. Isso é um dado preocupante, uma vez que jovens
        despreparados a lidar com o dinheiro e com os gastos tendem a enfrentar
        sérios problemas no futuro. Neste cenário de exceção, saiba que, se você
        é jovem e realiza planejamento e controle financeiro, já está um passo a
        frente.
      </p>
      <h3 class="text-center">
        Quais são as melhores dicas de educação financeira para jovens?
      </h3>
      <p class="text-center">
        Vamos abordar algumas das principais dicas financeiras para jovens que
        vão fazer toda a diferença no modo de lidar com o dinheiro e enriquecer.
      </p>
      <p>
        <strong>1.</strong> Gaste menos do que ganha e saia das dívidas Por mais
        óbvio que isso possa parecer, muitas pessoas, especialmente os jovens
        encontram dificuldades em fazer um controle orçamentário para manter os
        gastos dentro do limite do que recebem das suas fontes de renda. Isso
        gera complicações que podem afastá-los da independência financeira, tais
        como o endividamento e a dificuldade de ter recursos para investir. Uma
        boa dica para quem quer ter dinheiro para investir com regularidade é
        primeiro definir um valor para economizar mensalmente e encaixar o
        restante das contas no excedente. Ou seja, ao receber, economize
        primeiro e gaste depois. Além disso, é importante sair de dívidas como
        carro, financiamentos e viagens que estão fora de controle, bem como ter
        o máximo de cuidado e planejamento antes de assumir novas dívidas. Para
        ter um bom planejamento financeiro e seguir essa dica sem dificuldade, o
        primeiro passo é reconhecer o problema, isto é, reconhecer que não tem o
        pleno controle dos seus gastos e não saber como chegar à independência
        financeira.
      </p>
      <p>
        <strong>2.</strong> Comece a investir o quanto antes A segunda e mais
        fundamental dica para os jovens, dado qualquer cenário econômico, é
        economizar e começar a investir o mais cedo possível. Plantar as
        sementes ainda na juventude é a primeira iniciativa para gerar
        patrimônio no futuro. Quanto mais cedo se começa a investir, mais tempo
        os efeitos juros compostos jogam ao seu favor. Além disso, é fundamental
        criar um planejamento financeiro e controle de gastos para poder
        economizar nem que seja um pouquinho todos os meses pensando no longo
        prazo. Então, coloque seus gastos na ponta do lápis, estude onde é
        possível economizar e comece os investimentos financeiros. Isso vai
        fazer uma enorme diferença no futuro, pois as grandes fortunas começam
        com pequenos passos.
      </p>
      <p>
        <strong>3.</strong> Use a tecnologia a favor das suas finanças pessoais
        Para fazer um planejamento financeiro e ter mais controle sobre os seus
        gastos, você pode recorrer a aplicativos, planilhas e outras ferramentas
        tecnológicas específicas para isso. Um exemplo é a edufinance, app em
        que você pode registrar os seus gastos, fazer planejamentos financeiros
        e entender melhor como controlar a sua renda. Por meio dessas
        ferramentas, você terá pleno conhecimento de onde está gastando mais,
        onde está errando, como economizar e fazer planos para o futuro.
      </p>
      <p>
        <strong>4.</strong>
        Defina metas pequenas e grandes Além disso, com o pleno conhecimento dos
        seus gastos, é essencial também definir suas metas financeiras. Com base
        nos seus sonhos e objetivos pessoais, estabeleça metas factíveis para
        chegar lá. Você pode fazer isso por meio da definição de uma meta
        principal − como comprar um apartamento − e metas menores que vão criar
        o caminho para atingi-la, tais como: criar um plano de economia mensal,
        investir recorrentemente, estudar as taxas do mercado imobiliário, etc.
        As metas, por mais elementares que sejam, são fundamentais para
        conseguir o que se quer e não cair em descontrole financeiro, uma vez
        que também auxiliam a ter controle sobre as compras por impulso e/ou sem
        necessidade.
      </p>
      <p>
        <strong>5.</strong> Não compre por impulso e não subestime pequenos
        gastos Dois "ladrões invisíveis" da nossa renda são as compras por
        impulso e os pequenos gastos. Isoladamente, eles podem parecer menores e
        inofensivos, mas, no acumulado mensal, causam algum estrago nas finanças
        pessoais. Afinal, quem nunca se assustou ao ver o quanto gastou com
        transporte por aplicativos na fatura do cartão de crédito, não é mesmo?
        Então, a dica aqui é aumentar o controle desses pequenos gastos − os
        aplicativos que sugerimos no tópico anterior são ótimos para isso − e
        evitar os gastos por impulso. Para gastar menos impulsivamente e ficar
        de olho nas comprinhas, siga atitudes como: Fazer listas de compras. Ter
        cuidado com as promoções, liquidações e descontos. Ter cuidado redobrado
        com as compras parceladas, o prazo e o tamanho das parcelas. Economizar
        com taxas, optando por um cartão de crédito sem anuidade. Se perguntar
        por que está comprando cada coisa (investigar a real necessidade). Não
        realizar compras quando estiver psicologicamente abalado por algum
        motivo. Não ir às compras com pessoas que são mais consumistas que você.
        Antes de comprar, se pergunte se pode esperar e comprar aquilo depois.
      </p>
      <p>
        <strong>6.</strong>
        Invista no seu desenvolvimento e capacitação Outra dica fundamental para
        o sucesso financeiro do jovem é continuar investindo na sua educação e
        capacitação. Para se ter uma ideia, quem possui diploma universitário
        tem maior empregabilidade e um salário ao menos duas vezes superior a
        quem concluiu apenas o ensino médio, de acordo com dados do IBGE. Já
        segundo uma pesquisa da FGV, para cada ano de ensino, sua renda pode
        aumentar em até 15%. Por mais essencial é básico que essa dica possa
        parecer, boa educação e mão de obra qualificada ainda são diferenciais
        de mercado. Segundo dados do Instituto Semesp, apenas 18,1% dos jovens
        de 18 a 24 anos estão matriculados no ensino superior. Ou seja, não
        encare a educação como gasto, mas como investimento. Continue sempre se
        capacitando e melhorando suas habilidades profissionais que isso
        comprovadamente trará reflexos positivos na sua vida financeira.
      </p>
      <p>
        <strong>7.</strong>
        Ajuste o seu padrão de vida Uma das questões mais fundamentais que
        impulsiona os hábitos de consumo entre os jovens atualmente é o
        reconhecimento pela imagem. A construção da sua própria identidade e
        estilo são armadilhas muito exploradas pela publicidade moderna. É muito
        comum ainda que essas questões estejam atreladas às imagens de outras
        pessoas ou grupo. Afinal, qual jovem não gostaria de se vestir, consumir
        e frequentar lugares como aquela celebridade ou influencer, não é mesmo?
        Porém, reconheça que isso tem impacto direto na sua vida financeira. É
        fundamental aqui a compreensão de que você não deve "viver a vida dos
        outros". Ajuste o seu padrão de vida para consumir conforme os próprios
        gostos, como o que gosta de vestir, o que gosta de comer, onde prefere
        ir, etc. Isso feito, sua renda e planejamento financeiro deve comportar
        esse padrão de vida. Um dos fatores mais críticos ao endividamento
        descontrolado é quando as pessoas procuram viver acima do seu padrão de
        vida atual.
      </p>
      <p>
        <strong> 8.</strong> Construa uma reserva de emergência Um dos
        principais ensinamentos de educação financeira, seja para jovens ou para
        os mais experientes, é a formação de uma boa reserva de emergência. A
        reserva de emergência é aquele dinheiro que você guarda em uma aplicação
        de boa liquidez, isto é, fácil sacar quando precisar em situações e
        gastos inesperados, tais como: desemprego, gastos com saúde não
        cobertos, manutenção imprevista no carro, entre outras. O tamanho dessa
        reserva, estimam os especialistas, varia entre 6 e 18 meses dos seus
        gastos pessoais mensais. Isso te dará mais tranquilidade para realizar
        os outros investimentos e traçar planos com liberdade financeira, ou
        seja, sem ficar refém do dinheiro.
      </p>
      <p>
        <strong>9.</strong> Veja se é possível comprar usado ou conseguir de
        graça Muito do apelo do marketing moderno reside no incentivo às pessoas
        a comprar coisas sempre novas o tempo todo. No entanto, ao recorrer aos
        produtos usados ou seminovos, é possível conseguir verdadeiras
        barganhas. A vantagem de comprar produtos seminovos é eliminar boa parte
        dos custos que as marcas têm para promover as vendas. Além disso, você
        pode negociar diretamente com quem está vendendo. Pense bem, há uma
        enorme gama de produtos que podemos comprar usados ou seminovos com boa
        qualidade que faria pouquíssima diferença de comprá-los novinhos em
        folha, tais como: livros, móveis, alguns eletroeletrônicos, entre
        outros. Por fim, antes de comprar alguma coisa nova, se pergunte também
        se é possível consegui-la de modo gratuito ou com desconto, seja com
        amigos, parentes e até mesmo no mercado, como, por exemplo: cursos
        básicos online, utensílios para a casa, programas de indicação,
        programas de fidelidade de marcas, entre outros.
      </p>
      <p>
        <strong>10.</strong> Combata o consumismo Consumir faz parte da vida de
        qualquer ser humano. Todo mundo precisa comer, se vestir, educar os
        filhos e por aí vai. E essas atividades envolvem a aquisição de produtos
        e serviços. O que você deve evitar é o consumismo, ou seja, o consumo
        desenfreado de itens que às vezes nem são tão importantes assim.
      </p>
      <h6 class="text-center">
        Data 27/09/2022 - Fonte:
        toroinvestimentos.com.br/educacao-financeira/dicas-financeiras
      </h6>
    </div>
    <div class="col-3 details">
      <div class="creator mt-5"></div>
      <div class="divider mt-2"></div>
      <h4 class="text-center mt-4">Lobianquina Sandrina Da Silva</h4>
      <div class="title text-center">
        Mestrado - Ciencia da Computação | tecnólogo - Jornalismo
      </div>
      <div class="mt-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis natus
        molestiae error quod velit sequi nulla amet aperiam voluptatum harum,
        rem cum sapiente, consequuntur maxime deserunt eaque distinctio quasi ut
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quas,
        harum laborum blanditiis aut necessitatibus consequuntur? Quod illum
        recusandae nostrum porro laboriosam numquam explicabo dicta sunt,
        consequatur eos odit earum.
      </div>
      <div class="divider mt-2"></div>
      <div class="social-links text-center">
        <i class="bi bi-linkedin"></i>
        <i class="bi bi-wordpress"></i>
      </div>
    </div>
  </div>
</div>
