<div class="container-fluid mt-2 mb-2 mx-2">
  <div class="row">
    <div class="col-9">
      <h1 class="text-center mt-5">
        10 dicas financeiras para jovens que são verdadeiras lições de vida
      </h1>
      <div class="text-center">
        <img src="../../../../assets/images/artigo01.png" alt="" />
      </div>
      <p class="px-5 mt-5">
        O tema educação financeira ainda é muito incipiente no Brasil, sobretudo
        entre os mais jovens. Isso é um dado preocupante, uma vez que jovens
        despreparados a lidar com o dinheiro e com os gastos tendem a enfrentar
        sérios problemas no futuro. Neste cenário de exceção, saiba que, se você
        é jovem e realiza planejamento e controle financeiro, já está um passo a
        frente.
      </p>
      <h3>Quais são as melhores dicas de educação financeira para jovens?</h3>
      <p>
        Vamos abordar algumas das principais dicas financeiras para jovens que
        vão fazer toda a diferença no modo de lidar com o dinheiro e enriquecer.
      </p>
      <br />
      <p>
        1. Gaste menos do que ganha e saia das dívidas Por mais óbvio que isso
        possa parecer, muitas pessoas, especialmente os jovens encontram
        dificuldades em fazer um controle orçamentário para manter os gastos
        dentro do limite do que recebem das suas fontes de renda. Isso gera
        complicações que podem afastá-los da independência financeira, tais como
        o endividamento e a dificuldade de ter recursos para investir. Uma boa
        dica para quem quer ter dinheiro para investir com regularidade é
        primeiro definir um valor para economizar mensalmente e encaixar o
        restante das contas no excedente. Ou seja, ao receber, economize
        primeiro e gaste depois. Além disso, é importante sair de dívidas como
        carro, financiamentos e viagens que estão fora de controle, bem como ter
        o máximo de cuidado e planejamento antes de assumir novas dívidas. Para
        ter um bom planejamento financeiro e seguir essa dica sem dificuldade, o
        primeiro passo é reconhecer o problema, isto é, reconhecer que não tem o
        pleno controle dos seus gastos e não saber como chegar à independência
        financeira.
      </p>
    </div>
    <div class="col-3">
      <div class="creator text-center mt-5">
        <h4 class="mb-3">Lobianquina Sandrina</h4>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis natus
        molestiae error quod velit sequi nulla amet aperiam voluptatum harum,
        rem cum sapiente, consequuntur maxime deserunt eaque distinctio quasi
        ut?
      </p>
    </div>
  </div>
</div>
