.bg-lgr{
  height:80vh;
  display:flex;
  margin:1rem;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 15px;

}
.register{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows:1fr;
  grid-column-gap: 0;
  grid-row-gap:0;
}

.col .register-img{
  display:grid;
  width: 100%;
  height: 100%;
  grid-template-rows: repeat(3, 1fr);
  background:
  linear-gradient(180deg, #FF5CAA 0.01%, #1C9890 100%)
}
.register-img .img-content{
  background:url(../../../assets/images/register-image.jpg) center center;
  background-size:contain;
  background-repeat: no-repeat;
  grid-area: 2 / 1 / 6 / 2;
  border-radius: 15px;
}
.img-logo{
  background: url(../../../assets/images/LOGO-1.png);
  background-repeat: no-repeat;
  background-position-x:center;
}
