<div class="container-fluid px-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-2 mb-3 mt-3">
        <div class="titulo"></div>
      </div>
      <div class="col-10 mt-3 mb-3">
        <div class="home-hero">
          <div class="feature" routerLink="/modelo">
            <h3>We like balloons</h3>
            <p>You can find all kinds of balloon related things here.</p>
          </div>
          <div class="special">
            <h3>Special Shapes</h3>
            <p>Why are some of them so scary looking?</p>
          </div>
          <div class="amazing">
            <h3>10 things you discover when taking a balloon ride.</h3>
            <p>Number 8 will AMAZE you.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container"></div>
  </div>
</div>
