<div class="container-fluid px-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-2 mb-3 mt-3">
        <div class="titulo"></div>
      </div>
      <div class="col-10 mt-3 mb-3">
        <div class="home-hero">
          <div class="feature" routerLink="/modelo">
            <h3>10 dicas financeiras</h3>
            <p>Para jovens que são verdadeiras lições de vida.</p>
          </div>
          <div class="special">
            <h3>Como ganhar dinheiro em casa?</h3>
            <p>Veja dicas para lucrar com Day Trade</p>
          </div>
          <div class="amazing">
            <h3>
              Como escolher a melhor Previdência Privada para investir hoje?
            </h3>
            <p>Existem diversas opções mas qual a melhor pra você?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="currently-options container mb-5">
  <div class="container artigos mb-5">
    <div class="row mt-2">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2><em>Principais</em> artigos</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="filters">
          <ul>
            <li data-filter="*" class="active">Principais</li>
            <li data-filter=".msc">Educação</li>
            <li data-filter=".dig">Investimentos</li>
            <li data-filter=".blc">Mercado</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row grid">
          <div class="col-lg-4">
            <div class="item-artigo">
              <img
                src="../../../assets/images/artigo01.png"
                alt=""
                style="border-radius: 20px; min-width: 195px"
              />
              <div class="content mt-3 mt-3">
                <h4>Como Wall Street se tornou referencia no capitalismo</h4>
                <hr />
                <span class="author">
                  <img
                    src="../../../assets/images/author01.png"
                    alt=""
                    style="max-width: 50px; border-radius: 50%"
                  />
                  <h6>Gabriel Catonho<br /><a href="#">@gabriel_endo23</a></h6>
                </span>
                <hr />
                <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Quisquam magnam eum ex minima quod accusantium pariatur...
                </div>
                <div class="d-grid gap-2 px-5 mt-2">
                  <button type="button-lg" class="btn btn-primary">
                    ver mais +
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="item-artigo">
              <img
                src="../../../assets/images/artigo02.png"
                alt=""
                style="border-radius: 20px; min-width: 195px"
              />
              <div class="content mt-3">
                <h4>Aprenda a economizar mais com a Dr.Milene</h4>
                <hr />
                <span class="author">
                  <img
                    class=""
                    src="../../../assets/images/author02.png"
                    alt=""
                    style="max-width: 50px; border-radius: 50%"
                  />
                  <h6 class="">
                    Mileninha Gameplay<br /><a href="#">@gabriel_endo23</a>
                  </h6>
                  <hr />
                </span>
                <p class="text-start">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Quisquam magnam eum ex minima quod accusantium pariatur...
                </p>
                <div class="d-grid gap-2 px-5">
                  <button type="button-lg" class="btn btn-primary">
                    ver mais +
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="item-artigo">
              <img
                src="../../../assets/images/artigo03.png"
                alt=""
                style="border-radius: 20px; min-width: 195px"
              />
              <div class="content mt-3">
                <h4>Como gerenciar sua carteira de forma eficaz</h4>
                <hr />
                <span class="author">
                  <img
                    src="../../../assets/images/author03.png"
                    alt=""
                    style="max-width: 50px; border-radius: 50%"
                  />
                  <h6>Larissa Sallowicz<br /><a href="#">@sallowicz</a></h6>
                </span>
                <hr />
                <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Quisquam magnam eum ex minima quod accusantium pariatur...
                  <div class="d-grid gap-2 px-5 mt-2">
                    <button type="button-lg" class="btn btn-primary">
                      ver mais +
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
