.container{
  height: 87vh;
  width: 100%;
}
.card-body{
  background-color:#fff;
  color:#01237D;
}

.pic{
  background:url(../../../assets/images/login.jpg) center center;
  background-size:cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
}
