
.main {
  height: 87vh;
  width: 100%;
  background: #242452;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
  margin: 0;
}
p {
  font-size: 16px;
  width: 35%;
  margin: 16px auto 24px;
  text-align: center;
}
button {
  border-radius: 50px;
  padding: 8px 24px;
  font-size: 16px;
  cursor: pointer;
  background: #62AD9B;
  color: #fff;
  border: none;
  box-shadow: 0 4px 8px 0 rgb(99, 135, 201);
}
.error{
  background: url(`../../../../../assets/images/error404.png) center center;
  width: 100%;
  height: 25%;
  background-repeat: no-repeat;
}
