.content{
  display: flex;
}
.info{
  width: 350px;
  top: 0;
  height: 80vh;
  margin-left: 10px;
  border-radius: 1rem;
  /* display: flex;
  align-items: center; */
  flex-direction: column;
  background:linear-gradient(-64deg,#2f0f72,#009688);

}
.logout{
    left: 300px;
    width: 50px;
    position: absolute;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color:rgb(255, 255, 255);
  font-weight:400;
  display: flex;
  align-content: center;
  align-items: center;
}
a:hover{
  background-color: rgb(91 161 157);
  padding: .5rem;
  border-radius: 1rem;
  transition: .2s;
}
.details{
  background:linear-gradient(64deg,#2f0f72,#009688);
  height: 80vh;
  width: calc(99.5vw - 370px);
  margin-left: 1rem;
  border-radius: 1rem;
  flex-wrap: wrap;
}
.d-flex{
  justify-content: center;
}
.dados{
  width: 388px;
  align-self: center;
  background: #4592b969;
  opacity: 100;
  padding: 1rem;
  border-radius: 1rem;
}

.historico{
  width: 30%;
  height: 60vh;
  border-radius: 1rem;
  background:linear-gradient(-64deg,#6b074d,#4b31df);
  opacity: 90%;
}
ul{
  padding-left:0;
}
