<div class="content mt-5 mb-5">
  <div class="info">
    <div class="logout">
      <i class="bi bi-box-arrow-left" style="font-size: 35px"></i>
    </div>
    <div class="profile-img mt-5 mx-5 text-center">
      <img
        src="https://thispersondoesnotexist.com/image"
        class="rounded-circle"
        height="150"
        alt="foto de perfil"
        loading="lazy"
      />
      <h3 class="mt-2">Darth Vader</h3>
    </div>
    <ul>
      <li class="mt-5 mb-3">
        <a routerLink="/profile" class="mx-3">
          <i
            class="bi bi-person-workspace"
            style="color: #ffff; font-size: 30px"
          >
          </i>
          <span class="px-3">Dados</span>
        </a>
      </li>
      <li class="mt-5 mb-3">
        <a routerLink="/carteiras" class="mx-3">
          <i class="bi bi-wallet2" style="color: #fff; font-size: 30px"></i>
          <span class="px-3">Carteiras</span>
        </a>
      </li>
      <li class="mt-5 mb-3">
        <a routerLink="/dashboard" class="mx-3">
          <i class="bi bi-speedometer" style="color: #fff; font-size: 30px"></i>
          <span class="px-3">Dashboard</span>
        </a>
      </li>
      <li class="mt-5 mb-3">
        <a href="#" class="mx-3">
          <i
            class="bi bi-shield-check"
            style="color: #ffff; font-size: 30px"
          ></i>
          <span class="px-3">Seguranca</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="details">
    <h1 class="text-center mt-2">Resumo</h1>
  </div>
</div>
