<div class="container mt-2">
  <div class="row mt-2 text-light px-3">
    <div class="sobre mt-2">
      <h1 class="text-center mt-3">
        Sobre nós <i class="bi bi-info-circle-fill"></i>
      </h1>
      <p class="px-3">
        Olá! Somos estudantes de Análise e Desenvolvimento de Sistemas em curso
        na Faculdade de Tecnologia de Carapicuíba. Visamos o presente projeto
        com a premissa de auxiliar jovens adultos a iniciarem de maneira
        consciente suas vidas financeiras. De modo que possibilite uma melhor
        gerencia de suas rendas a partir dos conteúdos abordados por aqui.
        Esperamos com esse projeto, auxiliar o público a absorver conteúdos a
        respeito de educação financeira. Assim sendo, temos como objetivo
        transmitir a educação a respeito de um assunto tão presente em nosso
        cotidiano.
      </p>
    </div>
  </div>
  <div class="row mx-2 mt-2">
    <div class="col">
      <div class="card">
        <div
          class="card-header"
          style="
            background-image: url(https://media-exp1.licdn.com/dms/image/C4E03AQF1t-stJZza5g/profile-displayphoto-shrink_200_200/0/1630800426068?e=1672272000&v=beta&t=Bm7MwtHKwPus2l9yUZimp_XBxWzWdllvtXlZmlq70sM);
          "
        ></div>

        <div class="card-body">
          <h2 class="name text-dark">LARISSA SALLOWICZ KORACSONY</h2>
          <h4 class="job-title">Designer Web</h4>
          <div class="bio">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Dignissimos, aperiam.
          </div>
          <div class="social-accounts mt-5">
            <a
              href="https://www.linkedin.com/in/larissa-sallowicz/"
              target="_blank"
            >
              <i class="bi bi-linkedin linkedin"></i>
              <span class="sr-only">Linkedin</span></a
            >
            <a href="#">
              <i class="bi bi-github github"></i>
              <span class="sr-only">Github</span></a
            >
            <a href="#">
              <i class="bi bi-instagram instagram"></i>
              <span class="sr-only">Instagram</span></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div
          class="card-header"
          style="
            background-image: url(https://media-exp1.licdn.com/dms/image/C4D03AQGVuwje48_IEA/profile-displayphoto-shrink_200_200/0/1659710333653?e=1672272000&v=beta&t=iCyh1zXfDrm-BsikLpgdAW0SQoR_MJcaWiZpba3lMDg);
          "
        ></div>

        <div class="card-body">
          <h2 class="name text-dark">GABRIEL CATONHO GOMES</h2>
          <h4 class="job-title">Desenvolvedor Fullstack</h4>
          <div class="bio">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Dignissimos, aperiam.
          </div>
          <div class="social-accounts mt-5">
            <a
              href="https://www.linkedin.com/in/gabriel-endo23/"
              target="_blank"
            >
              <i class="bi bi-linkedin linkedin"></i>
              <span class="sr-only">Linkedin</span></a
            >
            <a href="#">
              <i class="bi bi-github github"></i>
              <span class="sr-only">Github</span></a
            >
            <a href="#">
              <i class="bi bi-instagram instagram"></i>
              <span class="sr-only">Instagram</span></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div
          class="card-header"
          style="
            background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQF8SisTORzwmw/profile-displayphoto-shrink_200_200/0/1591284871748?e=1672272000&v=beta&t=bdLi6pYm63ixm3LsUcKlqSEk66KQBgz6FDxNzYqunq0);
          "
        ></div>

        <div class="card-body">
          <h2 class="name text-dark">MILENE RODRIGUES DA SILVA</h2>
          <h4 class="job-title">UX/UI Designer</h4>
          <div class="bio">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Dignissimos, aperiam.
          </div>
          <div class="social-accounts mt-5">
            <a
              href="https://www.linkedin.com/in/milene-rodrigues013/"
              target="_blank"
            >
              <i class="bi bi-linkedin linkedin"></i>
              <span class="sr-only">Linkedin</span></a
            >
            <a href="#">
              <i class="bi bi-github github"></i>
              <span class="sr-only">Github</span></a
            >
            <a href="https://www.instagram.com/fotogr4mile/" target="_blank">
              <i class="bi bi-instagram instagram"></i>
              <span class="sr-only">Instagram</span></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div
          class="card-header"
          style="
            background-image: url(https://media-exp1.licdn.com/dms/image/C4D03AQGNIfqvKfBd1w/profile-displayphoto-shrink_200_200/0/1668007158296?e=1674086400&v=beta&t=TKRRqLCeHpJxS5y_-2LgZErDvzHcUmroBUxGGCS3IhU);
          "
        ></div>

        <div class="card-body">
          <h2 class="name text-dark">BRENNO DE SOUSA LEITE</h2>
          <h4 class="job-title">Desenvolvedor Back-end</h4>
          <div class="bio">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Dignissimos, aperiam.
          </div>
          <div class="social-accounts mt-5">
            <a
              href="https://www.linkedin.com/in/brenno-leite-4332291b9/"
              target="_blank"
            >
              <i class="bi bi-linkedin linkedin"></i>
              <span class="sr-only">Linkedin</span></a
            >
            <a href="#">
              <i class="bi bi-github github"></i>
              <span class="sr-only">Github</span></a
            >
            <a href="#">
              <i class="bi bi-instagram instagram"></i>
              <span class="sr-only">Instagram</span></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div
          class="card-header"
          style="
            background-image: url(https://media-exp1.licdn.com/dms/image/C4E03AQGtm1ZG4rBu1w/profile-displayphoto-shrink_200_200/0/1634620088572?e=1674086400&v=beta&t=iV_ii41vhpzXJ6u97sid353rk9OSjOMIsv_wSUuuJwE);
          "
        ></div>

        <div class="card-body">
          <h2 class="name text-dark">VINICIUS SANTOS DE OLIVEIRA</h2>
          <h4 class="job-title">Desenvolvedor Back-end</h4>
          <div class="bio">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Dignissimos, aperiam.
          </div>
          <div class="social-accounts mt-5">
            <a
              href="https://www.linkedin.com/in/vinicius-santos-de-oliveira-900b1459/"
              target="_blank"
            >
              <i class="bi bi-linkedin linkedin"></i>
              <span class="sr-only">Linkedin</span></a
            >
            <a href="#">
              <i class="bi bi-github github"></i>
              <span class="sr-only">Github</span></a
            >
            <a href="#">
              <i class="bi bi-instagram instagram"></i>
              <span class="sr-only">Instagram</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
