*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
body{
  /*Cor base dos nossos textos*/
  --text-cyan: #00ffff;
  --text-pink: #fb44ff;
  --text-blue: #0e1727;
  --text-light: #faf9f9;
  --text-dark:#00050e;
  /*Cor base do nosso fundo*/
  --bg-dark: #121212;

  /*Fonts*/

  font-family:'poppins','Segoe UI', tahoma ,geneva, sans-serif;
  line-height:1.7;
  color: var(--text-light);
  background: var(--bg-dark);
  overflow-x:hidden;
}

body::-webkit-scrollbar{
  width:10px;
  background-color: var(--bg-dark);
}

body::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: webkit-linear-gradient(140deg, #00ffff, #fb44ff);
  background: webkit-linear-gradient(linear, 40% 0%, 75% 84%, from(#00ffff), to(#fb44ff),color-stop(.6,#fb44ff));
}


.parent{
  display: grid;
  grid-template-columns: 6fr repeat(2,0fr) repeat(2,0fr);
  grid-template-rows: 1fr 5fr 0 repeat(2,0fr) 1fr;
  grid-column-gap:0 ;
  grid-row-gap: 0;
  width: 100vw;
}
container-header {
  background: #2085d8;
  grid-area: 1/1/2/6;
}

container-main{
  display: flex;
  grid-area: 2/1/6/2;
}

.container-footer{
  background:#2085d8;
  grid-area: 6/1/7/2;
}



.admin-lista-table{
  width: 100vw;
  margin:auto;
  display: grid;
  place-items: center;
}

.borda{
  margin: auto;
  max-width:60%;
}
