<div class="container mt-2 mb-2">
  <div class="header mt-5 text-center">
    <h1>
      Dicas
      <img
        src="../../../assets/images/lampada.png"
        alt="icone de dicas representanto uma lampada de ideias"
      />
    </h1>
    <h3>
      Aqui você encontrará dicas de maneira dinâmica para aplicar em seu dia a
      dia!
    </h3>
    <h4>Confira os FlashCards!</h4>
  </div>
  <div class="container-fluid mt-5 text-center principal">
    <div class="container">
      <div class="card">
        <img src="../../../assets/images/ic-01.png" alt="icone de dica" />
        <div class="content">
          <h2>Planejamento financeiro</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            debitis numquam, alias laborum eaque natus dolor totam perspiciatis
            adipisci ipsum rem amet nobis commodi placeat!
          </p>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/images/ic-o2.png" alt="icone de dica" />
        <div class="content">
          <h2>Orçamento com planilhas</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            debitis numquam, alias laborum eaque natus dolor totam perspiciatis
            adipisci ipsum rem amet nobis commodi placeat!
          </p>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/images/ic-03.png" alt="icone de dica" />

        <div class="content">
          <h2>Classifique seus gastos</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            debitis numquam, alias laborum eaque natus dolor totam perspiciatis
            adipisci ipsum rem amet nobis commodi placeat!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
