<div class="container">
  <div class="header mt-5 text-center">
    <h1>
      Dicas
      <img
        src="../../../assets/images/lampada.png"
        alt="icone de dicas representanto uma lampada de ideias"
      />
    </h1>
    <h3>
      Aqui você encontrará dicas de maneira dinâmica para aplicar em seu dia a
      dia!
    </h3>
    <h4>Confira os FlashCards!</h4>
  </div>
  <div class="container mt-5 text-center principal">
    <div class="row">
      <div class="col">
        <div class="circulo c-1 text-center">
          <img src="../../../assets/images/ic-01.png" alt="icone" />
        </div>
        <p class="texto">Elabore um orçamento através de planilhas</p>
      </div>
      <div class="col">
        <div class="circulo c-2"></div>
        <p class="texto">Crie um planejamento financeiro.</p>
      </div>
      <div class="col">
        <div class="circulo c-4"></div>
        <p class="texto">Classifique seus gastos</p>
      </div>
      <div class="col">
        <div class="circulo c-4"></div>
        <p class="texto">Avalie as contas fixas mensais</p>
      </div>
    </div>
  </div>
</div>
